body {
    background-color: #1c1e21 !important; /* Fondo gris oscuro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif; /* Fuente mejorada */
    color: #ffffff; /* Color del texto blanco */
}

.login-container {
    background-color: #3a3f44; /* Fondo gris claro para el contenedor de login */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.login-container img.logo {
    max-width: 250px;
    width: 100%;
    height: 250px;
    object-fit: contain;
    display: block;
    margin: 0 auto 20px;
    background-color: #fff; /* Fondo blanco para el logo */
    border-radius: 10px; /* Opcional: para redondear bordes del logo */
}

.login-container h2 {
    margin-bottom: 20px;
    color: #ffffff; /* Color blanco para el título */
    font-size: 2em; /* Tamaño de fuente más grande */
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form .form-control {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1.2em; /* Tamaño de fuente más grande */
    background-color: #3a3f44; /* Fondo de los inputs */
    border: 1px solid #495057; /* Borde de los inputs */
    color: #ffffff; /* Color del texto de los inputs */
}

.login-form .form-control:focus {
    background-color: #3a3f44; /* Fondo de los inputs al enfocarse */
    border-color: #007bff; /* Borde de los inputs al enfocarse */
    color: #ffffff; /* Color del texto de los inputs al enfocarse */
}

.login-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff; /* Color blanco para el texto del botón */
    font-size: 1.2em; /* Tamaño de fuente más grande */
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}

.login-container .mt-3 {
    margin-top: 20px;
    font-size: 1.1em; /* Tamaño de fuente más grande */
    color: #ffffff; /* Color del texto */
}

.login-container .mt-3 a {
    color: #007bff;
    text-decoration: none;
}

.login-container .mt-3 a:hover {
    text-decoration: underline;
}

.login-container input::placeholder{
    color: rgba(255, 255, 255, 0.2);
}

#error {
    color: red;
    font-size: 1em; /* Tamaño de fuente más grande */
    margin-bottom: 10px;
}
